@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

h6 {color: white;
display: none;
}

p { font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
    }

td { font-family: "Abel", sans-serif;
font-weight: 400;
font-style: normal; 
text-align: center;
    }



table {
    width: 100%;
}



.center {
margin-left: auto;
margin-right: auto;
}

.test1 {
    text-align: center;
    color: #1a9124;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.test2 {
    text-align: center;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
    color: #1a9124;
}

h2 {
    color: #1a9124;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}